<div class='header'>
    <h2 class='header__subtitle-2 {{configuration.subtitleSecondAligment}} {{configuration.mobileSubtitleSecondAligment}}'>{{subtitleSecond}}</h2>
    <h3 class='header__subtitle-3 {{configuration.subtitleThirdAligment}} {{configuration.mobileSubtitleThirdAligment}}'>{{subtitleThird}}</h3>
</div>
